<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <label class="control-label col-md-3">name </label>
    <div class="col-md-4">
      <%= f.text_field :name ,class: "form-control"  %>
    </div>
    </div>
  <div class="form-group">
    <label class="control-label col-md-3">Description </label>
    <div class="col-md-4">
      <%= f.text_area :description ,class: "form-control"  %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-md-3"></div>
    <div class="col-md-4">
        <%= f.submit "submit" , class: "btn btn-primary" %>
    </div>
  </div>
    
  
<% end %>
